.main {
  display: flex;
  flex-direction: column;
  margin: 0 100px;
}

.main__title {
  margin: 70px auto 30px 0;
  font-family: 'Roboto', 'Inter', 'Arial', 'sans-serif';
  font-size: 36px;
  font-weight: 500;
  line-height:   57.6px;
}

.main__container {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  margin: 0;
}

.main__container_card {
  display: flex;
  align-items: center;
  align-self: center;
  background-color: #FFF;
  border: #EBEBF1 1px solid;
  border-radius: 5px;
  max-width: 287px;
  min-width: 287px;
  height: 120px;
}

.main__container_img {
  background-size: cover;
  height: 64px;
  margin: 0 auto;
  cursor: pointer;
}

@media screen and (max-width: 1350px) {
  .main__container_card {
    min-width: 247px;
  }
}

@media screen and (max-width: 1279px) {
  .main {
    margin: 0 20px;
  }

  .main__container {
    gap: 17px;
  }

  .main__container_card {
    max-width: 236px;
    min-width: 229px;
  }

  .main__container_img {
    height: 90px;
  }
}


@media screen and (max-width: 767px) {
  .main {
    margin: 0 auto;
  }

  .main__title {
    margin: 70px auto 20px 20px;
  }

  .main__container {
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
  }

  .main__container_card {
    max-width: 335px;
    min-width: 280px;
    height: 140px;
  }
}